        <div class="card-body" id ='' >
            <p class="card-text">How Charitable are you?</p>

            <input type="range" min="1" max="5" value="5" id= "p1-value" class="slider">

            </p>
            <p class="card-text">How intellegent are you?</p>
                 <input type="range" min="1" max="5" value="5" id= "p2-value" class="intelligent">

            </p>
            <p class="card-text">How shy are you?</p>
                 <input type="range" min="1" max="5" value="5" id= "p3-value" class="shy">

            </p>
            <p class="card-text">How spontaneous are you?</p>
                 <input type="range" min="1" max="5" value="5" id= "p4-value" class="spontaneous">

            </p>
            <p class="card-text">How funny are you?</p>
                 <input type="range" min="1" max="5" value="5" id= "p5-value" class="funny">


            <br>
            <p><%= submit_tag 'submit', class: 'primary-btn btn-md', id:"p1-submit" %></p>
            </p>
        </div>

<script>
$('#personality').on("click", "#p1-submit", function(event) {

  let pTraits = event.currentTarget.offsetParent.childNodes[1].children
  traitHash = pTraits.reduce() //create an object to 'POST' to /dater_backers/personalities... or send to

})

</script>
