        <div class="card-body" id ='' >
          <h5 class="center-text"> 1 is "least like me" and 5 is "most like me"</h5>
          <br>
            <p class="card-text">How Charitable are you?</p>
            <div><input type="range" min="1" max="5" value="3" id= "charitable" class="slider"></div>
                <br>
            <p class="card-text">How intellegent are you?</p>
                 <input type="range" min="1" max="5" value="5" id= "intelligent" class="slider">
                <br>
            <p class="card-text">How shy are you?</p>
                 <input type="range" min="1" max="5" value="5" id= "shy" class="slider">
                <br>

            <p class="card-text">How spontaneous are you?</p>
                 <input type="range" min="1" max="5" value="5" id= "spontaneous" class="slider">
                <br>

            <p class="card-text">How funny are you?</p>
                 <input type="range" min="1" max="5" value="5" id= "funny" class="slider">
            <br>
            <p><%= submit_tag 'submit', class: 'primary-btn btn-md', id:"p1-submit" %></p>
            </p>
        </div>

<script>


$('#personality').on("click", "#p1-submit", function(event) {

  let pTraits = event.currentTarget.offsetParent.childNodes[1].children
  //create an object to 'POST' to /dater_backers/personalities... or send to
  traitHash = pTraits.reduce()

})

</script>
