

      <div class="card-body" id="<%= @dater_backer_id %>" >
          <h5 class="center-text"> "Least Like Me"  - to -  "Most like Me"</h5>
        <br>
          <p class="card-text">How adaptable are you?</p>
          <input type="range" min="1" max="5" value="3" id= "adaptable" class="slider">
              <br>
          <p class="card-text">How confident are you?</p>
               <input type="range" min="1" max="5" value="5" id= "confident" class="slider">
              <br>
          <p class="card-text">How logical are you?</p>
               <input type="range" min="1" max="5" value="5" id= "logical" class="slider">
              <br>

          <p class="card-text">How independent are you?</p>
               <input type="range" min="1" max="5" value="5" id= "independent" class="slider">
              <br>

          <p class="card-text">How organized are you?</p>
               <input type="range" min="1" max="5" value="5" id= "organized" class="slider">
          <br>
          <p><%= submit_tag 'submit', class: 'primary-btn btn-md', id:"p1-submit" %></p>
          </p>
      </div>

<script>


$('#personality').on("click", "#p2-submit", function(event) {

  let pTraits = Array.from(event.currentTarget.offsetParent.childNodes[1].children)
  let id = event.currentTarget.offsetParent.firstElementChild.id
  console.log(id)
  //create an object to 'POST' to /dater_backers/personalities... or send to
  traitHash = pTraits.reduce(function(newObj, trait) {
    if (trait.id) {
      newObj[trait.id] = trait.value
      return newObj
    } else {
    return newObj
    }
  }, {})
  console.log("JSON-i-fied", JSON.stringify({"personality": traitHash }))

  fetch(`http://localhost:3000/api/v1/dater_backers/${id}/personalities`, {
    method: 'PATCH',
  	// mode: 'cors',
  	headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({"personality": traitHash })
    })
    .then((response) => console.log(response))
})


</script>
