
<div class="card-body" id="<%= @dater_backer_id %>" >
        <h5 class="center-text"> 1 is "least like me" and 5 is "most like me"</h5>
        <br>
          <p class="card-text">How relaxed are you?</p>
          <input type="range" min="1" max="5" value="3" id= "relaxed" class="slider">
              <br>
          <p class="card-text">How friendly are you?</p>
               <input type="range" min="1" max="5" value="5" id= "friendly" class="slider">
              <br>
          <p class="card-text">How energetic are you?</p>
               <input type="range" min="1" max="5" value="5" id= "energetic" class="slider">
              <br>

          <p class="card-text">How silly are you?</p>
               <input type="range" min="1" max="5" value="5" id= "silly" class="slider">
              <br>

          <p class="card-text">How patient are you?</p>
               <input type="range" min="1" max="5" value="5" id= "patient" class="slider">
          <br>
          <p><%= submit_tag 'submit', class: 'primary-btn btn-md', id:"p1-submit" %></p>
          </p>
      </div>

<script>


$('#personality').on("click", "#p3-submit", function(event) {

  let pTraits = Array.from(event.currentTarget.offsetParent.childNodes[1].children)
  let id = event.currentTarget.offsetParent.firstElementChild.id
  console.log(id)
  //create an object to 'POST' to /dater_backers/personalities... or send to
  traitHash = pTraits.reduce(function(newObj, trait) {
    if (trait.id) {
      newObj[trait.id] = trait.value
      return newObj
    } else {
    return newObj
    }
  }, {})
  console.log("JSON-i-fied", JSON.stringify({"personality": traitHash }))

  fetch(`http://pytdating-live.herokuapp.com/api/v1/dater_backers/${id}/personalities`, {
    method: 'PATCH',
  	// mode: 'cors',
  	headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({"personality": traitHash })
    })
    .then((response) => console.log(response))
})


</script>
