



      <div class="card-body" id ='' >
        <h5 class="center-text"> 1 is "least like me" and 5 is "most like me"</h5>
        <br>
          <p class="card-text">How relaxed are you?</p>
          <div><input type="range" min="1" max="5" value="3" id= "relaxed" class="slider"></div>
              <br>
          <p class="card-text">How friendly are you?</p>
               <input type="range" min="1" max="5" value="5" id= "friendly" class="slider">
              <br>
          <p class="card-text">How energetic are you?</p>
               <input type="range" min="1" max="5" value="5" id= "energetic" class="slider">
              <br>

          <p class="card-text">How silly are you?</p>
               <input type="range" min="1" max="5" value="5" id= "silly" class="slider">
              <br>

          <p class="card-text">How patient are you?</p>
               <input type="range" min="1" max="5" value="5" id= "patient" class="slider">
          <br>
          <p><%= submit_tag 'submit', class: 'primary-btn btn-md', id:"p1-submit" %></p>
          </p>
      </div>

<script>


$('#personality').on("click", "#p3-submit", function(event) {

  let pTraits = event.currentTarget.offsetParent.childNodes[1].children
  traitHash = pTraits.reduce() //create an object to 'POST' to /dater_backers/personalities... or send to

})

</script>
