<div class="dashboard-header">
  <h2><%= current_dater.f_name %>'s Profile</h2>
<div class="card" style="width=100%">

<h3>Your DATER Profile is <%= %> % complete</h3>
<button id="edit-user-profile-button" class="primary-btn btn-sm card-button"><span>% Complete</span></button>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


<button id="edit-user-profile-button" class="primary-btn btn-sm card-button"><span>Your Backers</span></button>



<button id="edit-user-profile-button" class="primary-btn btn-sm card-button"><span>Pictures</span></button>



<button id="edit-user-profile-button" class="primary-btn btn-sm card-button"><span>Your Physical Traits, Lifestyle, and Leanings</span></button>



<button id="edit-user-profile-button" class="primary-btn btn-sm card-button"><span> Your Personality Traits</span></button>



<button id="edit-user-profile-button" class="primary-btn btn-sm card-button"><span>Your Preferences for a Match</span></button>









</div>
