
<div id="home">
<div class="home-header">
<div class="container">
<img id="logo" src="/assets/loveschmove-2b4a4223b71e92e6d9865d54c02694c3bf7722f2a0357ef3e57284e3216cbe79.png" alt="Loveschmove">
<h1>Matchmaking for you and <br> all the meddlers in your life.</h1>
<a class="btn btn-primary" href="/users/sign_up">Find Love For Yourself</a>
<a class="btn btn-secondary" href="/users/backer_sign_up">Find Love For A Friend</a>
</div>
<img id="us-only" src="/assets/us-only-a8920230c78ad2390c57cfb830ec7a1bebfc5a4268260af074b7294530cc4aed.png" alt="Us only">
</div>


<div id="home-about">
<div class="container">
<h2>A More Authentic Way of Dating Online</h2>
<p>
<b>love schmove</b> enables people to date online with the support and
involvement of family and friends. A dater's profile can be initiated
by the individual or by a family member or friend of that person called a
backer. Every user on the site must have at least one backer who is a person
who will at minimum provide a brief reference.
</p>
</div>
</div>

<div id="home-process">
<div class="container">
<h2>How it works...</h2>
<div class="row">
<div class="col-md-4">
<img class="img-responsive" src="/assets/icon1-b4757303fd3351e5e407d2318d1c4da5a6ad53b39cc3cdae4d6333d1a0288162.jpg" alt="Icon1">
<h3>Create Your Account</h3>
<p>Sign up as a dater or a backer</p>
</div>
<div class="col-md-4">
<img class="img-responsive" src="/assets/icon2-04db9fae7931b14adff0a829251c33d2ab5b6fd9f9abf0d0c2943f8d90e48962.jpg" alt="Icon2">
<h3>Invite Your Backers</h3>
<p>As a dater, you will invite friends and/or family members to support you</p>
</div>
<div class="col-md-4">
<img class="img-responsive" src="/assets/icon3-f515d5f99b3ef444d880ef361d29f0f978d1d1c14c4984ed28474202a11ffa1c.jpg" alt="Icon3">
<h3>Complete Your Profile</h3>
<p>Daters will answer questions that will help them find potential matches</p>
</div>
<div class="col-md-4 col-md-offset-2">
<img class="img-responsive" src="/assets/icon4-87a4676189e8e006b1d2cf03ae30d677ccf85bff6977ec7e9c16ec7ef3f561d8.jpg" alt="Icon4">
<h3>Involve Friends &amp; Family</h3>
<p>Save time by having your backers select your best matches and provide feedback on them for you</p>
</div>
<div class="col-md-4">
<img class="img-responsive" src="/assets/icon5-68a8824ee5179854146beb516413a0433c32775b08a04e46b2207d83c7730776.jpg" alt="Icon5">
<h3>Find Your Match</h3>
<p>With the support of your backers, <br> find higher quality matches</p>
</div>
</div>
</div>
</div>

</div>
<script>
  $("#why-ls").click(function() {
    $('html, body').animate({
      scrollTop: $("#home-about").offset().top
    }, 700);
  });
</script>

<div id="footer">
<div class="container">
<div class="row">
<div class="col-md-4">
<p>© 2018 love schmove</p>
</div>
<div class="col-md-4" style="text-align:center">
<a target="_blank" href="/terms">Terms of Use</a>
&nbsp;&nbsp;
<a target="_blank" href="/privacy_policy">Privacy Policy</a>
</div>
<div class="col-md-4">
<div id="social">
<a target="_blank" href="https://twitter.com/loveschmove"><i class="fa fa-twitter"></i>
</a><a target="_blank" href="https://www.facebook.com/loveschmove/"><i class="fa fa-facebook"></i>
</a><a target="_blank" href="https://www.instagram.com/loveschmove/"><i class="fa fa-instagram"></i>
</a></div>
</div>
</div>
</div>
</div>


<script>
$(window).load(function() {
  $(".main").toggleClass("no-page-padding")
});
</script>
