<div class="">
<div class="card bg-landing-gradient landing-cards">
  <div class="card-body">

  <div class = 'pyt-title col-md-7'  >
    <h1 class="text-navy text-center">Petition Your Tribe </h1>
    <h4 class="text-navy slogan text-center">It takes a village to find love. <br></h4>
  </div>

  <div class = 'pyt-signup-outer'>
    <div class = 'pyt-signup col-md-5'>
      <button id="home-button" class="primary-btn btn-sm login-button"><span ><%= link_to "Sign Up", "/auth/google_oauth2"  %></span></button> <br>
      <h4 class="text-navy text-center ">Find love <br>for your <br>Friends & Family</h4>
    </div>
    <div class = 'pyt-signup col-md-5'>
        <button id="home-button" class="primary-btn btn-sm login-button"><span ><%= link_to "Sign Up", "/auth/google_oauth2"  %></span></button> <br>
      <h4 class="text-navy text-center ">Find love<br>for <br>Yourself</h4>
    </div>
  </div>

  </div>
</div>


<div class="card background-black landing-cards">
  <div class="card-body">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-lg-6 col-md-9 relative ">
            <h3></h3>
            <h3 class="text-white">Petition your Tribe</h3>
            <h3 class="text-white">Promote your Tribe</h3>
            <h3 class="text-white">Protect your Tribe</h3>
            <h3></h3>
        </div>
      </div>
   </div>


  </div>
</div>


<div class="card landing-cards">
  <div class="card-body">
    <div class="col-lg-6 ml-auto col-md-7">
      <h2 class="text-navy">ABOUT</h4>
      <h4 class="text-navy">PYT Dating isn't just another Dating App. </h4>
      <h4 class="text-navy">Sometimes your friends and family know you better than you know yourself, so why not get their help when it comes to building the most important relationship in your life? </h4>
  </div>
  </div>
</div>
</div>


<script>
$(window).load(function() {
  $(".main").toggleClass("no-page-padding")
});
</script>
